body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  margin: 0px;
  background: #ffffff;
}

.page-header {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.page-nav {
  display: flex;
}

.logo {
  text-decoration: none;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin-right: 93px;
}

.logo-blue {
  color: #2196f3;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  font-style: Bold;
  font-size: 26px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.page-header-contact-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-item {
  margin-right: 50px;
}

.menu-item:last-child {
  margin-right: 0;
}

.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.menu-contact {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.menu-item-contact {
  margin-right: 50px;
  display: flex;
}

.menu-item-contact:last-child {
  margin-right: 0;
}

.contacts-email {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
}

.email-icon {
  margin-right: 10px;
  fill: currentColor;
  margin-top: 2px;
}

.contacts-phone-number {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
}

.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/bg.jpg");
  background-size: cover;
  background-color: #c4c4c4;
}

.hero-titlie {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  align-items: center;
  margin-left: 252px;
  margin-right: 252px;
  margin-bottom: 30px;
}

.modal-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #188ce8;
  padding: 10px 32px;
  height: 50px;
  left: 700px;
  top: 400px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  align-items: center;
  display: block;
  margin: auto;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #2196f3;
  border: none;
}

.option-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-size: 270px 120px;
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
}

.option-image:last-child {
  margin-right: 0;
}

.option-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.option {
  padding-top: 94px;
  padding-bottom: 94px;
}

.option-list {
  display: flex;
  align-items: center;
}

.option-list-detailes {
  margin-right: 30px;
}

.option-list-detailes:last-child {
  margin-right: 0;
}

.option-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 10px;
}

.option-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.option-text:last-child {
  margin-right: 0;
}

.our-job {
  padding-bottom: 94px;
  justify-content: space-between;
}
.our-job-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.our-job-list {
  display: flex;
  align-items: center;
}

.our-job-photo {
  margin-right: 30px;
}

.our-job-photo:last-child {
  margin-right: 0;
}

.our-team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: space-between;
}

.our-team-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.our-team-list {
  display: flex;
  align-items: center;
}

.our-team-card {
  width: 270px;
  height: 428px;
  left: 215px;
  top: 1635px;
  margin-right: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-card:last-child {
  margin-right: 0;
}

.card-info {
  padding-bottom: 30px;
  padding-top: 30px;
}
.card-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.card-prof {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-list:last-child {
  margin-right: 0;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}

.social-list-link:hover,
.social-list-link:focus {
  background: #2196f3;
}

.social-list-icon {
  height: 44px;
  width: 44px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  fill: #afb1b8;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.our-client {
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
  justify-content: space-between;
}

.our-client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.our-client-link{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
}


.our-client-link:hover,
.our-client-link:focus {
  border: 1px solid;
    border-color: #2196f3;
    fill: #2196f3;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-box {
  display: flex;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}

.footer-address {
  margin-bottom: 9px;
}

.location {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-footer {
  margin-bottom: 9px;
}

.contact-email {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2238px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contact-phone {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2238px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  display: block;
  margin-left: 70px;
  padding-top: 12px;
}

.footer-social-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  gap: 10px;
}

.social-list-icon {
  height: 44px;
  width: 44px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  fill: #afb1b8;
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: #ffffff;
}

.footer-social-list:last-child {
  margin-right: 0;
}

.footer-social-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background: #2196f3;
}

.footer-social-icon {
  height: 44px;
  width: 44px;
  padding-top: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  fill: #ffffff;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}
